@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .15rem;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fbfdfc;
}

header {
    position: absolute;
    width: 100%;
    padding: 15px;
    background: #fff;
    color: rgba(0, 0, 0, 0.85);
    font-size: 10px;
    text-align: center;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.container h1 {
    width: fit-content;
    margin: 10px 40px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    color:#fff;
    font-size: 46px; 
}

#color-hex {
    text-transform: uppercase;
}

.btn {
    margin: 10px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.85) solid 3px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out all;
}

.btn:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.85);
}

.noselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

::-moz-selection {
    color: rgba(0, 0, 0, 0.85);
    background: #fbfdfc;
}

::selection {
    color: rgba(0, 0, 0, 0.85);;
    background: #fbfdfc;
}
